$primary-100: #fcf9fe;
$primary-200: #f2e6fd;
$primary-300: #e8d3fb;
$primary-400: #dec0f9;
$primary-500: #ca9bf6;
$primary-600: #c088f4;
$primary-700: #b676f3;
$primary-800: #ac63f1;
$primary-900: #a250ef;

$primary: $primary-500;