@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Alexandria;
  src: url(../fonts/Alexandria/Alexandria-Black.ttf);
  font-weight: 900;
}
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(var(--path-size)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--path-size)) rotate(-360deg);
  }
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-4900px, 0, 0);
  }
}
.loading-overlay {
  visibility: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 2s ease-in-out, opacity 2s ease-in-out;
}

body.loading .loading-overlay {
  opacity: 1;
  visibility: visible;
}

.loading-text {
  --size: 400px;
  position: absolute;
  background-image: url(../images/logo.png);
  width: var(--size);
  max-width: 100%;
  height: calc(var(--size) / 2);
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.loader {
  width: 140px;
  height: 140px;
  background: radial-gradient(farthest-side, #ca9bf6 90%, rgba(0, 0, 0, 0)) center/50px 50px, radial-gradient(farthest-side, #dec0f9 90%, rgba(0, 0, 0, 0)) bottom/24px 24px;
  background-repeat: no-repeat;
  animation: s7 3s infinite linear;
  position: relative;
  border-radius: 50%;
  outline: 1px solid #dec0f9;
  outline-offset: -12px;
  margin-left: -15px;
}
.loader::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  inset: auto 0 32px;
  margin: auto;
  background: #e8d3fb;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 20px);
  animation: inherit;
  animation-duration: 2s;
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}
.personal {
  background-color: transparent;
  width: 100%;
  max-width: 100vw;
  margin-top: 30px;
  height: 487px;
  z-index: 3;
  position: relative;
  border-width: 0px;
}
.personal .description {
  background-color: #fff;
  width: 500px;
  max-width: 50%;
  z-index: 4;
  padding: 20px 20px 20px 40px;
  font-size: 0.8rem;
  text-align: justify;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1.5;
  box-sizing: border-box;
}
.personal .name {
  position: absolute;
  text-align: left;
  left: 10%;
  top: 30px;
  font-size: 5.5rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 3px 10px #ca9bf6;
  z-index: 4;
}
.personal .personal-button {
  position: absolute;
  z-index: 4;
  bottom: 50px;
  left: 10%;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  display: block;
  border: 1px dashed #000;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  padding: 10px 20px;
}
.personal .personal-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.2);
}
.personal .personal-button:active {
  transform: scale(1);
}
.personal .avatar {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  overflow-x: hidden;
  pointer-events: none;
}
.personal .avatar img {
  position: relative;
  left: 0;
  bottom: -3px;
  width: calc(500px - 10vw);
  min-width: 100%;
}

.personal-overlay {
  width: 900px;
  max-width: 100%;
  margin: auto;
  background-color: #ca9bf6;
  height: 587px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.personal-overlay::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5000px;
  background: url(../images/Thailee_Alexandria_Text.png);
  background-repeat: repeat;
  background-size: 110px 55px;
  background-position: center;
  animation: marquee 120s linear infinite;
  opacity: 0.5;
}

* {
  z-index: 2;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: Alexandria, sans-serif;
  font-weight: 300;
  background-color: #fff;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 3px rgb(0, 0, 0) !important;
}

.system {
  z-index: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.path {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  --size: var(--diameter);
  z-index: 1 !important;
  border: 1px solid #e0c4fa;
  width: var(--size);
  padding-top: var(--size);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  --orb-size: calc(var(--size) * .05);
}
.path::before {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  --path-size: calc(var(--size) / 2);
  content: "";
  width: var(--orb-size);
  height: var(--orb-size);
  background-color: #e0c4fa;
  position: absolute;
  left: calc(var(--size) / 2 - var(--orb-size) / 2);
  top: calc(var(--size) / 2 - var(--orb-size) / 2);
  border-radius: 50%;
  transform-origin: center;
  animation: myOrbit var(--time) linear infinite;
  pointer-events: none;
}

.color-burn {
  z-index: 1 !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #e0c4fa;
  border-radius: 50%;
  opacity: 0.4;
}

.header {
  z-index: 500;
  height: 100px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-width: 0;
}
.header .logo {
  margin-left: 30px;
  display: block;
  width: 150px;
  height: 50px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}
.header .language {
  margin-left: auto;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}
.header .language .language-menu {
  visibility: hidden;
  opacity: 0;
  border: 1px solid #000;
  padding: 10px 15px;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  right: 0;
  top: 0;
  margin-top: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.125);
  transition: all 250ms ease-in-out;
}
.header .language .language-menu .language-item {
  padding: 5px;
}
.header .language .language-menu .language-item:hover {
  font-weight: 400;
}
.header .language .language-menu .language-item.active {
  color: #b676f3;
  font-weight: 400;
}
.header .language:hover .language-menu {
  margin-top: 20px;
  visibility: visible;
  opacity: 1;
}

.navbar-toggle {
  display: none;
}

.social-links {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 500;
  position: relative;
}
.social-links .social-item {
  color: #000;
  font-size: 23px;
  transform: scale(1);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links .social-item > i::before {
  vertical-align: -0.125em;
}
.social-links .social-item::before {
  --path-size: 20px;
  --orb-size: 0px;
  content: "";
  width: var(--orb-size);
  height: var(--orb-size);
  background-color: transparent;
  position: absolute;
  left: calc(50% - var(--orb-size) / 2);
  top: calc(50% - var(--orb-size) / 2);
  border-radius: 10px;
  transform-origin: center;
  animation: myOrbit 4s linear infinite;
  pointer-events: none;
  transition: all 200ms ease-in-out;
}
.social-links .social-item:hover {
  font-size: 20px;
  border-color: #000;
}
.social-links .social-item:hover::before {
  --orb-size: 5px;
  background-color: #000;
}
.social-links .social-item:active {
  transform: scale(1.2);
}

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 1000;
}
.navbar.show {
  visibility: visible;
  opacity: 1;
}
.navbar .navbar-menu {
  list-style: none;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
}
.navbar .navbar-menu .navbar-item > .navbar-link {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  display: block;
  position: relative;
  font-weight: 300;
  transition: all 0.3s ease;
}
.navbar .navbar-menu .navbar-item > .navbar-link::before {
  content: "";
  width: 10px;
  height: 6px;
  background-color: #ca9bf6;
  position: absolute;
  border-radius: 5px;
  left: -20px;
  top: 10px;
  transition: all 0.2s ease-out;
  opacity: 0;
}
.navbar .navbar-menu .navbar-item > .navbar-link:hover {
  padding-left: 15px;
}
.navbar .navbar-menu .navbar-item > .navbar-link:hover::before {
  opacity: 1;
  left: -10px;
}
.navbar .navbar-menu .navbar-item > .navbar-link:active {
  transform: scale(0.92);
}

.collaboration-line {
  position: fixed;
  top: 50%;
  right: -7rem;
  margin-top: 10px;
  transform: rotate(-90deg);
  font-size: 1.2rem;
  z-index: 1;
  pointer-events: none;
}
.collaboration-line::after {
  width: 80px;
  height: 1px;
  content: "";
  background-color: #000;
  position: absolute;
  left: -25%;
  bottom: 0.5rem;
}
.collaboration-line::before {
  width: 80px;
  height: 1px;
  content: "";
  background-color: #000;
  position: absolute;
  right: -25%;
  top: 0.5rem;
}

main {
  width: 900px;
  max-width: 100%;
  margin-top: 100px;
  margin: auto;
  position: relative;
  border-width: 0;
}

@media only screen and (max-width: 576px) {
  .path {
    --size: calc(var(--diameter) * .7) !important;
  }
  .social-links {
    gap: 0;
  }
  .header .logo {
    margin-left: 10px;
    width: 100px;
  }
  .header .language {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  body.prevent-scroll {
    overflow-y: hidden;
  }
  .collaboration-line {
    display: none;
  }
  .navbar {
    width: 100vw;
    height: 100vh;
    padding: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar .navbar-menu {
    text-align: center;
  }
  .navbar .navbar-menu .navbar-link {
    color: #fff !important;
    font-size: 30px;
  }
  .navbar .navbar-menu .navbar-link::before {
    top: 17px !important;
  }
  .navbar-toggle {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    z-index: 6;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
  .navbar-toggle.hide {
    opacity: 0;
    visibility: hidden;
    right: -55px;
  }
  .navbar-toggle::before {
    --path-size: 25px;
    --orb-size: 10px;
    content: "";
    width: var(--orb-size);
    height: var(--orb-size);
    background-color: #000;
    position: absolute;
    left: calc(50% - var(--orb-size) / 2);
    top: calc(50% - var(--orb-size) / 2);
    border-radius: 10px;
    transform-origin: center;
    animation: myOrbit 4s linear infinite;
    pointer-events: none;
  }
}/*# sourceMappingURL=home.css.map */