@media(min-width: 992px){
	.login-form,.login-introduce{
		position: fixed;
		top:0;
		height: 100%;
		width: 50%;
		overflow-y: auto;
	}
	.login-form{
		padding: 25px
	}
	.login-form > form{
		max-width: 300px;
		margin: auto;
		margin-top: 3em;
	}
	.login-form > center{
		margin-top: 3rem;
	}	
	.description{
		max-width: 400px;
		margin-top: 50px;
		text-align: justify;
	}	
}
@media(max-width: 992px){
	.login-form,.login-introduce{
		padding: 40px 20px
	}
}
	.intro-brand{
		font-size: 70px;
	}
.login-form{
	left:0;
}
.login-introduce{
	right: 0;
	background: var(--primary);
}
.introducing{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
	flex-direction: column;
}
